<%- include("./partials/header") %>

<h1 class="text-center "><%= title %></h1>

<div class="container mt-5">
    <form action="/add/todo" class="d-flex" method="POST">
        <input type="text" name="todo" class="form-control" placeholder="Enter task">
        <input type="submit" value="Add" class="btn btn-md btn-primary mx-2">
    </form>
    <ul class="list-group my-5">
        <% todos.forEach((todo) => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <input class="form-check-input" type="checkbox" <%= %> value="" id="flexCheckDefault">
                <% if (todo.completed) { %>
                    <del>
                <% } %>
                        <strong class="text-capitalize"><%= todo.todo %></strong>
                <% if (todo.completed) { %>
                </del>
                <% } %>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <form action="/update/<%= todo._id %>" class="d-flex" method="GET">
                        <input type="text" name="todo" class="form-control" value="<%= todo.todo %>">
                        <input type="submit" value="Update" class="btn btn-md btn-primary mx-2">
                    </form>
                    <a href="/delete/<%= todo._id %>" class="btn btn-danger btn-md btn-primary mx-2">Delete</a>
                </div>
            </li>
       <% }); %>
    </ul>
</div>

<%- include('./partials/footer') %> 