<%- include("./partials/header") %>

<h1 class="text-center my-5"><%= title %></h1>

<div class="container mt-5">
    <%- include("./partials/addForm") %>
    <%- include("./partials/list") %>    
</div>

<%- include('./partials/footer') %> 