<%- include("./partials/header") %>


<h1 class="text-center "><%= title %></h1>


<div class="container mt-5">
    <form action="/add/todo" class="d-flex" method="POST">
        <input type="text" name="todo" class="form-control" placeholder="Enter task">
        <input type="submit" value="Add" class="btn btn-md btn-primary mx-2">
    </form>
    <ul class="list-group my-5">
        <% todos.forEach((x) => { %>
            <li class="list-group-item d-flex justify-content-between">
                <strong class="text-capitalize"><%= x.todo %></strong>
                <a href="/<%= x._id %>" class="btn btn-danger btn-sm">Delete</a>
            </li>
       <% }); %>
    </ul>
</div>

<%- include('./partials/footer') %> 